.home-hero {
  /* height: calc(100vh - var(--header-height)) !important; */
}

.airpods-card:nth-child(2) {
  h5 {
    color: #ffc72c !important;
  }
}
.airpods-card:nth-child(3) {
  h5 {
    color: #f16ab7 !important;
  }
}
.airpods-card:nth-child(4) {
  h5 {
    color: #ef3340 !important;
  }
}
#brxe-ntjgun {
  h5 {
    color: #000000 !important;
  }
}
.opacity-0 {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.opacity-1 {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  z-index: 3;
}
.mountain-1,
.mountain-2 {
  /* transform: translateY(10%); */
}
header {
  /* opacity: 0;
  display: none;
  visibility: hidden; */
}
html,body{
  overflow-x: clip;
}

@media (min-width: 776px) {
  .masked-background {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 0) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .masked-bottom {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 24.91%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
@media (max-width: 776px) {
  .sticky-images {
    background: linear-gradient(180deg, #fff 84.97%, rgba(255, 255, 255, 0) 100%) !important;
  }
}
  .gsap-marker-start,
  .gsap-marker-end,
  .gsap-marker-scroller-start,
  .gsap-marker-scroller-end {
    opacity: 1 !important;
    display: block !important;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
  }
